body {
  background-image: url(mustang1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: darkolivegreen;
  width: 100%;
  height: 100%;
}
.background {
  border-radius: 10%;
  min-width: 25%;
  width: 30%;
  background-color: rgba(250, 250, 250, 0.4);
}
.text {
  color: darkblue;
  font-family: cursive;
  font-size: 2vw;
}
/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(mustang4.jpg);
  }
}