body,div,a,h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  background-color: darkslategrey;
}
.headers {
  margin-bottom: 2%;
  margin-top: 2%;
  width: 100%;
  font-family: cursive;
  font-size-adjust: auto;
  font-stretch: condensed;
  text-align: center;
  color: chartreuse;
  font-size: 2vw; 
}
.maincontent {
  width: 100%;
  height: 100%;
}
.sidebar,.image,.imagetile {
    float: left;
}
#link1 {
  padding-bottom: 2%;
}
.sidebar {
  padding-top: 1.5%;
  border-radius: 5%;
  margin-left:1%;
  margin-top: 3%;
  padding-left: 3%;
  width: 15%;
  height: 100%;
  color: blue;
  font-size-adjust: auto;
  font-size: 1.7vw;
  background-color: whitesmoke;
}
#list-link {
  padding: 2% 8% 2%;
}
#image1 {
  padding-top: 1%;
  display: block;
  margin: auto;
}
.image {
  width: 60%;
  background-size: auto;
  background-repeat: repeat;
}
.imagetile {
  margin: 0.5%;
  margin-left: -3%;
  margin-top: 5% ;
  background-image: url(assignments/assignment6/css/mustang4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
  min-height: 20vh;
  max-height: 20vh;
  
}
.footers {
  clear: both;
  text-align: center;
  font-stretch: ultra-condensed;
  width: 100%;
  height: 100%;
  color: forestgreen;
  font-size: 2vw;
}
#imagetile {
  width: 100%;
  float: left;
  content: "";
  background-attachment: fixed;
  background-size: contain;
}
.text {
  clear: both;
  width: 100%;
  margin-top: 30%;
}
#sidebar-mini-head {
  color: deeppink;
  font-family: sans-serif;
  font-style: oblique;
}
li {
  list-style-type: none;
}
a:visited {
    color: darkcyan;
  text-decoration: none;
}
a:hover {
    color: black;
  text-decoration: underline;
}
a:active {
    color: chocolate;
}
#text-mustang {
  background-color: darkcyan;
  border-radius: 2%;
  border: 1px solid cornflowerblue;
  color: navajowhite;
  font-family: sans-serif;
  font-size: 2vw;
  margin: 10% 3% 3% 3%;
  padding: 1%;
  padding-right: 0.745%;
}
@media only screen and (max-width: 720px) {
  .maincontent {
    width: 100%;
  }
  .image,.sidebars {
    float: left;
    margin-left: 0.5%;
  }
  .image {
    margin-top: 3%;
    float: left;
    width: 50%;
  }
  #image1 {
    margin-left: 1%;
    float: left;
  }
  .imagetile {
    display: none;
  }
  .sidebars {
    padding-left: 0%;
    width: 30%;
    min-width: 10%;
  }
  .footers,.headers {
    width: 100%;
  }
  .text {
    margin: 0;
    width: 100%;
  }
  #text-mustang {
    margin-left: 1%;
  }
}