ul,li,body,div {
  margin: 0px;
}
body {
  background-color: lightslategray;
  width: 100%;
  height: 100%;
}
.accordian ul li .heading {
  padding: 2%;
  cursor: pointer;
  text-transform: uppercase;
  background-color: cadetblue;
  color: floralwhite;
}
.accordian ul li {
  padding: 0% 0% 0% 0%;
}
.accordian {
  width: 15%;
  margin: 0 auto;
  margin-top: 2%;
  font-family: sans-serif;
  background-color: darkgoldenrod;
}
.accordian ul {
  padding: 0% 0% 0% 0%;
}
.accordian ul li .desc {
  width: 100%;
  font-family: cursive;
}
.accordian ul {
  color: white;
  list-style-type: none;
}
.accordian ul li .active {
  background-color: saddlebrown;
  color: black;
}